<div id="<%= dom_id(comment) %>" class="bg-white rounded-lg shadow p-4 mb-1">
  <div class="text-gray-800"><%= comment.content %></div>
</div>
<div class="text-sm text-gray-500 mb-4 text-right">
  <%= time_tag comment.updated_at, "data-local": "time-ago" %>
</div>
