
<footer class="fixed bottom-0 left-0 right-0 bg-neutral-900 text-white text-center h-9 pt-1">
  <section class="sm:w-96 sm:mx-auto">
    <span class="text-xs">&copy; Copyright 2024 Alan Maciel.</span>
  </section>
</footer>
