 <!-- CARD -->
<div id="<%= dom_id post %>">
  <section class="w-80 mx-auto rounded-lg shadow-md hover:shadow-lg">
    <img class="rounded-t-lg opacity-80 hover:opacity-100" src="img/post_houseplants.jpg" alt="Houseplants with Attitudes"/>
    <!-- CARD CONTENT -->
    <section class="p-4 flex flex-col gap-2">
      <!-- CARD HEADER -->
      <section class="flex items-center justify-between">
        <section class="flex items-center">
          <span class="text-sm text-slate-500 ml-2"><%= time_tag post.updated_at, "data-local": "time", "data-format": "%B %e, %Y %l:%M%P" %></span>
        </section>
        <svg height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"/></svg>
        <!-- <span>More options</span> -->
      </section>
      <!-- CARD HEADER END -->
      <!-- CARD BODY -->
      <section>
        <h2 class="font-medium text-xl leading-snug mb-2 text-slate-600 cursor-pointer hover:underline"><%= link_to post.title, post %></h2>
        <p class="line-clamp-3 text-sm">
          <%= post.body %>
        </p>
      </section>
      <!-- CARD BODY END -->
      <hr class="my-3">
      <!-- CARD FOOTER -->
      <section class="flex items-center justify-between">
        <span class="text-sm text-slate-500 italic">9 likes</span>
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" class="fill-red-200 hover:fill-red-400 cursor-pointer"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg>
        <!-- <span>Like</span> -->
      </section>
      <!-- CARD FOOTER END -->
    </section>
    <!-- CARD CONTENT END -->
  </section>
</div>
<!-- CARD END -->