<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h2 class="text-center text-7xl mt-8 mb-4 text-sky-500">The void</h2>
<p class="text-center text-2xl mb-8">Notes from the void</p>
<!-- CARD CONTAINER -->
<section class="w-11/12 mx-auto mb-10 flex gap-8 flex-wrap">
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
</section>

<p><%= link_to "New post", new_post_path %></p>

