<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h2 class="text-center text-2xl font-bold my-6 font-mono uppercase tracking-widest">Blog</h2>
<!-- CARD CONTAINER -->
<section class="w-11/12 mx-auto mb-10 flex gap-8 flex-wrap">
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
</section>

<p><%= link_to "New post", new_post_path %></p>

